# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Projects
Makefile
*.sln
*.vcxproj*
*.suo

# Others
*.sdf
*.opensdf
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.pdb
*.idb
*.ipdb
*.ilk
*.VC.db
*.VC.opendb
*.d
*.swp

# External Folder
External
